html,
body {
  height: 100%;
  position: relative;
  background-color: black;
  color: white;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 550px;
}

.cusfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}

h2, label, input{
  color: gold;
}
.icon-gold{
  color: goldenrod;
}

.icon-gold{
  color: goldenrod;
}

.card{
  background-color: #292929;
  color: white;
}

.card-header{
  background-color: #181818;
}

.cart-header{
    color: darkgoldenrod;
    text-align: center;
    align-content: center;

}
