html,
body {
  height: 100%;
  position: relative;
  background-color: black;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 550px;
}

.cusfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}

h2, label, input{
  color: gold;
}

th, tr{
  color: white;
}

.icon-gold{
  color: goldenrod;
}

.icon-gold{
  color: goldenrod;
}

.icon-red{
  color: darkred;
}

.icon-green{
  color:green;
}

.card{
  background-color: #292929;
  color: white;
}

.card-header{
  background-color: #181818;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
